.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loginSection {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 47px;
  background: #e0e0e0;
  box-shadow: 28px 28px 56px #a1a1a1, -28px -28px 56px #ffffff;
}
